<p>
  Hi there, 
  <br />
  <br />
  Our team has noticed that the wrong syllabus was submitted for <%= @class_name %>.
  No biggie, we all goof up every now and then! We deleted the wrong syllabus. You should now be able to <a href="<%= @web_home_path  %>">sign in</a> and upload the correct syllabus when you're ready!
  <br />
  <br />
  We hope you and your classmates have a great semester!
</p>